.personas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.persona {
    display: flex;
    flex-direction: column;
}

.persona__nombre {
    color: #8d0606;
    font-size: 2rem;
    font-family: Pacifico, cursive;
    margin: 1rem 0;
}

.persona__imagen {
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.persona__imagen--roberta {
    background: url(../img/personas/roberta.jpg) no-repeat center / cover;
}

.persona__imagen--marcela {
    background: url(../img/personas/marcela.jpg) no-repeat center / cover;
}

.persona__imagen--andrea {
    background: url(../img/personas/andrea.jpg) no-repeat center / cover;
}

.persona__funcion {
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

/*! mi solución */
/* @media screen and (max-width: 835px) {
    .personas {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
} */

/** la solución del profe*/
@media screen and (min-width: 0) {
    .persona {
        margin-bottom: 2rem;
    }

    .personas {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .persona {
        margin-bottom: 0;
    }

    .personas {
        flex-direction: row;
    }
}